.task_header {
    min-height: 70px;
    top: 65px;
    flex-wrap: wrap;
}


.task_head_right {
    height: 65px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task_head_right div {
    display: flex;
    align-items: center;

}

.search_div {
    display: flex;
    align-items: center;

}

.task_head_icon {
    display: inline-block;
    height: 17px;
}

.task_icon_border {
    border: 1px solid rgb(141, 138, 138);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.search_div {
    /* border: 1px solid black; */
    display: inline-block;
    border: 1px solid rgb(141, 138, 138);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.task_head_input{
    outline: none;
    border: 1px solid  rgb(141, 138, 138);
    border-radius: 5px;
    padding: 1px;
}
.task_head_btn{
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
   cursor: pointer;
   width: 90px;
}
.task_card_outer{
    width:250px;
    height: 120px;
}
.user_calendar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.card_dueDate{
    width: 75px;
}
.user_card_img{
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}



/* add task modal */

.modal_outer{
   min-height:300px;
    width: 175px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(165, 164, 164);
    position: fixed;
    z-index: 100;
    top: 120px;
    right: 60px;
    padding: 10px;
}
.modal_box{
    display: flex;
    flex-direction: column;
}
.modal_outer input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(161, 158, 158);
    width: 100%;
}
.status{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 5px;
    border-radius: 5px;
    cursor: pointer;

}
.status:hover{
    background-color: rgba(243, 242, 241, 0.87);
}
.add_task_text{
    font-size: 14px;

}
.icon_align{
    margin-top: 2.5px;

}
.status_modal{
    min-height:100px;
    width: 160px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(165, 164, 164);
    position: fixed;
    z-index: 100;
    top: 170px;
    right: 245px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
.status_modal div{
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    border-radius:5px;
}
.status_modal div:hover{
    background-color: rgba(243, 242, 241, 0.87); 
}

   .modal_icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.subModal_text{
    font-size: 14px;
    display: flex;
    align-items: center;
    
}

