
:root{
    --color_light:#ffffff;
    --color_dark:#000000;
    --card_bg:#fcf8f8;
    --light_border:#f3f1f1;
    --hover_bg:#f0eeee;
}
.sidebar{
    width: 250px;
    border: 1px solid var(--light_border);
    padding: 20px;
    background-color: var(--card_bg);
}
.pointer{
    cursor: pointer;
}
.workspace_text{
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
.task_project_link:hover{
    background-color: var(--hover_bg);

}